[submodule "fastdfs-storage-proxy"]
	path = fastdfs-storage-proxy
	url = https://github.com/manuku/fastdfs-storage-proxy.git
[submodule "fastdfs-storage"]
	path = fastdfs-storage
	url = https://github.com/manuku/fastdfs-storage.git
[submodule "fastdfs-storage-dht"]
	path = fastdfs-storage-dht
	url = https://github.com/manuku/fastdfs-storage-dht.git
[submodule "fastdfs-tracker"]
	path = fastdfs-tracker
	url = https://github.com/manuku/fastdfs-tracker.git
[submodule "fastdfs-fastdht"]
	path = fastdfs-fastdht
	url = https://github.com/manuku/fastdfs-fastdht.git
